doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Your App Rest API
    link(href='/stylesheets/styles.css', rel='stylesheet')
    link(href='/stylesheets/prism-tomorrow.css', rel='stylesheet')
    script(src="/scripts/prism.js")
    
  body
    include includes/header.pug
    block content
    include includes/footer.pug