* {
  box-sizing: border-box;
}

header, footer {
  background-color: blueviolet;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 1.25em;
  color: antiquewhite;
}

h2, h3, h4, h5 {
  color: #643264;
}

p, blockquote {
  color: #444;
}

#content {
  max-width: 1024px;
  margin: 0 auto;

}


footer {
  padding: .75em;
}

footer p {
  color: antiquewhite;
}

@media screen and (min-width: 768px) {

  header h1 {
    text-align: left;
  }

  pre {
    width: 80%
  }
}